<p>안녕하세요, {{userName}} 님.</p>
<p>위슈와 함께 맞는 첫 주에요!</p>
<br>
<p>이번 주는 3개의 위시카드 달성을 목표로 해보는 건 어떨까요? 😉</p>
<p>위슈와 함께 위시를 이뤄간다면 지난 주보다 더욱 풍성한 한 주가 될 거에요!</p>
<br>
<p>달성한 위시들은 위슈에게 알려주는 것! 잊지 마세요~ 🤙🏻</p>
<br>
<p>
    <a href="https://potenday-project.github.io/Wishu" target="_blank" rel="noopener noreferrer">
        Click here to visit our website
    </a>
</p>