<p>안녕하세요, {{userName}} 님.</p>
<p>저희의 소중한 위셔가 되신 것을 환영해요 :)</p>
<br>
<p>이번 주는 위시보드에 위시카드를 추가해보는 건 어떠신가요?</p>
<p>저희가 앞으로도 {{userName}}님의 위시 달성을 위해 꾸준히 알림을 </p>
<p>보내드릴게요! </p>
<p>(알림 해제 방법: 설정 > 알림 > off)</p>
<br>
<p>
    <a href="https://potenday-project.github.io/Wishu" target="_blank" rel="noopener noreferrer">
        Click here to visit our website
    </a>
</p>